<ion-header padding class="alumnoheader">
  <ion-toolbar>
    <h1 class="ion-text-center">VIVO DUOC REMAKE</h1>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="alumnofondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-title>
    <h1 class="ion-text-center">
      Asistencia en linea
    </h1>
  </ion-card-title>

    <ion-button expand="block" color="danger" class="ion-button" >Marcar Asistencia  
      <ion-icon name="camera-outline" class="camicon"></ion-icon>
    </ion-button>



</ion-content>


<ion-footer>
  <ion-toolbar class="color1">
    <ion-title>Programacion movil </ion-title>
  </ion-toolbar>
</ion-footer>
